<footer>
  <div class="f-info">
    <div class="f-info-brand">
      <i class="fa-solid fa-compass"></i>
      WanderLust
    </div>
    
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <span class="separator">•</span>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
