<% layout('/layouts/boilerplate.ejs') -%>

<body>
    <div class="body-box">
        <div class="error-container">
        <h1 class="err-heading">Error <%= err.statusCode %></h1>
        <p class="err-msg"><%= err.message %></p>
        <div class="status">Something went wrong!</div>
    </div>
    </div>
</body>
</html> 